<!DOCTYPE html>
<html>
    <head>
        <title>Day 5 - Local Storage</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body ng-app="LocalStorageDemoApp" ng-controller="LocalController">

								<button ng-click="">Save</button>


        <input type="text" ng-model="inputString" />
        <button ng-click="gimmieString()">GimmieAString</button>

    </body>
</html>