        <h3 class="text-center">Employee Directory</h3>
        <div class="panel panel-default">
  <div class="panel-heading">Directory</div>
  <div class="panel-body">
        <h5 class="text-left">Employee Name:</h5>
        <input type="text" ng-model="EmployeeName" />
        <h5>Employee Number:</h5>
        <input type="text" ng-model="EmployeeNumber" />
        </select>
        <h5>Employee Email:</h5>
        <input type="text" ng-model="EmployeeEmail"/>
        <button class="buttonStyle" ng-click="addEmployee()">Submit</button>
        <p style="color:red;">{{ errorMsg }}</p>
      </div>

